.navbar {
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  /* border-radius: 10px;    */
  /* margin: 10px; */
}

.logo {
  font-weight: 900;
  color: #d4d987;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.136);
  border-radius: 10px;
  padding: 10px 10px;
  letter-spacing: 1px;
  transition: all 0.8s ease;
}

.logo:hover {
  /* background-color: #475534; */
  color: #1f2517;
  transition: all 0.8s ease;
}

.navbar-right button {
  background-color: transparent;
  font-family: 'Consolas', monospace;
  font-size: 15px;
  color: #2d3520;
  border: none;
  padding: 8px 14px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  border-radius: 8px;
}

.navbar-right button:hover {
  background-color: #475534;
  color: #9fa864;
}

.logout {
  color: #475534;
  font-weight: 700;
}

.logout:hover {
  color: #9fa864;
}
